<div class="p-4">
  <div class="container">
    <h1>Change password</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <label class="col-form-label-lg col-sm-2">New password</label>
        <div class="col-sm-5">
          <input type="text" formControlName="new_password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && controls.new_password.errors }"/>
          <div *ngIf="submitted && controls.new_password.errors" class="invalid-feedback">
            <div *ngIf="controls.new_password.errors.required">Password is required</div>
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col-form-label-lg col-sm-2">Confirm password</label>
        <div class="col-sm-5">
          <input type="text" formControlName="new_password_confirm" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted }"/>
          <div *ngIf="submitted && controls.new_password_confirm.errors" class="invalid-feedback">
            <div *ngIf="controls.new_password_confirm.errors.required">Password is required</div>
          </div>
          <div *ngIf="submitted && this.form.hasError('differentPasswords')" class="invalid-feedback">
            <div *ngIf="this.form.hasError('differentPasswords')">Passwords must be the same</div>
            <div >{{console.log(this.form.errors)}}</div>
            <div >{{console.log(this.form.hasError('differentPasswords'))}}</div>
          </div>
        </div>
      </div>
      <div class="btn-group-lg mt-3">
        <button [disabled]="submitting" class="btn btn-outline-success">
          <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
          Save
        </button>
        <a routerLink="/profile" class="btn btn-outline-danger text-center">Cancel</a>
      </div>
    </form>
  </div>
</div>
