<div class="p-4">
  <div class="container">
    <h1>Items</h1>
    <a routerLink="add" class="btn btn-success mb-2">Add Item</a>
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 14%">Id</th>
        <th style="width: 14%">Name</th>
        <th style="width: 14%">Category</th>
        <th style="width: 14%">Unit Type</th>
        <th style="width: 14%">Unit Price</th>
        <th style="width: 14%">Description</th>
        <th style="width: 16%"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.unitType}}</td>
        <td>{{item.unitPrice}}</td>
        <td>{{item.description}}</td>
        <td style="white-space: nowrap">
          <button (click)="addItemToCart(item.id)" class="btn btn-sm btn-success" style="width: 60px"
                  [disabled]="item.isBuying">
            <span *ngIf="item.isBuying" class="spinner-border spinner-border-sm"></span>
            <span *ngIf="!item.isBuying">Buy</span>
          </button>
          <a routerLink="edit/{{item.id}}" class="btn btn-sm btn-primary" style="width: 60px">Edit</a>
          <button (click)="deleteItem(item.id)" class="btn btn-sm btn-danger me-2" style="width: 60px"
                  [disabled]="item.isDeleting">
            <span *ngIf="item.isDeleting" class="spinner-border spinner-border-sm"></span>
            <span *ngIf="!item.isDeleting">Delete</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
