<div class="p-4">
  <div class="container">
    <h1>Orders</h1>
    <div *ngFor="let order of orders">
      <h3>Order Id : {{order.orderId}}</h3>
      <div *ngFor="let orderItem of order.orderItems">
        <h5>item_name: {{orderItem.item.name}}</h5>
        <h5>item_type: {{orderItem.item.unitType}}</h5>
        <h5>item_price: {{orderItem.item.unitPrice}}</h5>
        <h5>item_description: {{orderItem.item.description}}</h5>
        <h5>quantity: {{orderItem.quantity}}</h5>
      </div>
    </div>
  </div>
</div>
